/* CSS */
body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 34px;
    /* color: #777; */
    background: #ffffff;
    background-size: cover;
    background-repeat: no-repeat;
}

* {
    box-sizing: border-box;
    margin: 0;
}

/* sticky footer styling */

/* https://css-tricks.com/snippets/css/sticky-footer/ */
/* Sticky Footer with calc()*/
.wrapper {
    min-height: calc(100vh - 70px);
  }

  .footer {
    height: 50px;
  }
/* End Sticky Footer */

#main-container{
    color:#fff;
}

footer, .welcome{
    background:#337ab7;
}

footer {
    padding: 15px 15px;
    font-size:12px;
    height: 50px;
    color:#fff;
}

h1{
    text-transform: capitalize;
}

.results {
    background:#5ebd1e;
  }

  .management {
    background:#e29d26
  }

  .votes {
    background:#fe8585
  }

  #list-container{
      width: 4rem;
      margin-right:2%;
  }